body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;

}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../static/tri_flame.jpg');
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../static/prof_background.jpg");
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../static/lake.jpg");
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.stats {
    font-weight: bold;
}

i.icon-stats {
    font-size: 25px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 700px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 220px;
  }

  .career-stats, .fas, .fa {
    display: flex;
  }

  .w3-xlarge {
    font-size: 14px!important;
  }

  .remove-on-mobile{
    display: none;
  }

  .pdf-viewer {
    height: 300px;
  }

  i.icon-stats {
    font-size: 18px;
  }
}