<!DOCTYPE html>
<html>
<title>Brandon Hernandez</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="../static/CSS/index.css">
<script src="../static/index.js"></script>
<script src="https://kit.fontawesome.com/e5c1f0ed28.js" crossorigin="anonymous"></script>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top"">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="../static/brandon_hdz_resume" target="_blank" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-file-download"></i> RESUME</a>
    <a href="https://www.linkedin.com/in/brandonhdz" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-right"><i style="font-size: large;" class="fab fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://github.com/brandonhdz" target="_blank" class="w3-bar-item w3-button w3-hide-small w3-right"><i style="font-size: large;" class="fab fa-github-square w3-hover-opacity"></i></a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="../static/brandon_hdz_resume.pdf" target="_blank" class="w3-bar-item w3-button">RESUME</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <!-- w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity -->
    <div class="w3-padding-large w3-black w3-wide w3-hide-small">
      <div class="w3-center w3-xlarge line typing">Brandon Hernandez</div>
    </div>
    <!-- For Mobile Screens-->
    <div class="w3-padding-medium w3-black w3-wide w3-hide-large w3-hide-medium">
      <div class="w3-center w3-large">Brandon Hernandez</div>
    </div>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>I strive to maximize output by incorporating innovative technologies</em></p>
  <p>Welcome to my website! Please feel free to download my resume <a href="../static/brandon_hdz_resume.pdf">here</a>
    or within the menu above at any time. My GitHub repo and LinkedIn profile can also be accessed within the menu.
    I am a DePaul University alumnus awarded with a degree in Computer Science and a minor in Sound Recording.
    A couple hobbies of mine include; long distance running, hiking,
    <a href="http://astralmatter.herokuapp.com" target="_blank">producing music</a> and developing
    <a href="https://github.com/brandonhdz" target="_blank">software applications</a>.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <em>DPU 2020 | Computer Science</em>
      <p><b><a href="https://www.linkedin.com/in/brandonhdz" target="_blank" class="w3-button w3-margin-right"><i style="font-size: large;" class="fab fa-linkedin w3-hover-opacity"></i></a>Brandon Hernandez</b></p><br>
      <img src="../static/prof_pic350.jpg" class="w3-round w3-image" alt="Profile Picture" width="233" height="350">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Data drives many industries today. It is integral to know how to properly analyze and present data so such
      industries can detect anomalies, inform end users and confidently make decisions. As such, I find it incumbent
      to familiarize  myself with ETL and analytic methodologies to grow within the data science field. Furthermore,
      realizing how to extrapolate, map and predict data is also very important. Which, is why I intend to gain
      experience in programming AI/ML systems. Some of my favorite web sites that help me stay informed on the latest
      frameworks, programming technologies and datasets include;
      <ul>
        <li><a href="https://towardsdatascience.com/" target="_blank">Medium.com</a></li>
        <li><a href="https://www.kdnuggets.com/" target="_blank">KDnuggets.com</a></li>
        <li><a href="https://data.gov/" target="_blank">data.gov</a></li>
      </ul></p>
    </div>
  </div>
  <h3 class="w3-center w3-padding-16">Skills & Technologies:</h3>
  <p class="w3-wide"><i class="fab fa-python icon-stats-medium"></i>Python</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><i class="fab fa-js-square icon-stats-medium"></i><i class="fab fa-html5 icon-stats-medium"></i><i class="fab fa-css3-alt icon-stats-medium"></i>JS, HTML5, CSS3</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"><i class="fab fa-java icon-stats-medium"></i>Java</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:80%">80%</div>
  </div>

</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16 career-stats">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge stats">Web Development</span><br>
    <i class="fas fa-laptop-code icon-stats-large"></i>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge stats">Data Science</span><br>
    <i class="fas fa-database icon-stats-large"></i>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge stats">Cloud Computing</span><br>
    <i class="fab fa-aws icon-stats-large"></i>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge stats">Version Control</span><br>
    <i class="fab fa-git-alt icon-stats-large"></i>
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">Projects & Experience</h3>
  <p class="w3-center"><em>Click on an image to navigate to a project. <br> Feel free to view or download the pdf!</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->

  <div class="w3-center w3-row-padding">
    <div class="w3-col m4">
      <p>USJobs API + Charts.js + DynamoDB</p>
      <a href="https://jobsinit.herokuapp.com/" target="_blank">
        <img src="../static/jobsinit.PNG" style="width:100%" class="w3-hover-opacity" title="Jobs.init | Job Aggregator" alt="jobsinit.png">
      </a>
    </div>

    <div class="w3-col m4">
      <p>React MUI + NYT API + Charts.js</p>
      <a href="https://nytlive.herokuapp.com/" target="_blank">
        <img src="../static/nytlive.PNG" style="width:100%" class="w3-hover-opacity" title="News Flash | NYT Feed" alt="nytlive.png">
      </a>
    </div>

    <div class="w3-col m4">
      <p>Pure HTML, CSS, JS</p>
      <a href="https://astralmatter.herokuapp.com/" target="_blank">
        <img src="../static/astralmatter.PNG" style="width:100%" class="w3-hover-opacity" title= "Astral Matter | Music" alt="astalmatter.png">
      </a>
    </div>
  </div>

  <br>
  <iframe src="../static/hdz_portfolio.pdf#view=FitH" width="100%" height="550px" class="pdf-viewer">
  </iframe>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">CONTACT INFO</h3>
  <p class="w3-center"><em>I'd be happy to connect with you!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="../static/chicago.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Chicago, IL<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: (630) 506-0296<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: <a href="mailto:bherna42@mail.depaul.edu">bherna42@mail.depaul.edu</a><br>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64  w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://github.com/brandonhdz" target="_blank"><i class="fab fa-github-square w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/brandonhdz" target="_blank"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
